/ASIF ALI 2020-350-012.pptx
/LPR_fin.ipynb
/OBJECT DETECTION_PROJECT REPORT.docx
/OBJECT DETECTION_PROJECT REPORT.pdf
/Screenshot 2023-04-29 144442.png
/Screenshot 2023-04-29 160206.png
/yolov8-comparison-plots-1536x576.webp
/yolov8-object-detection-models-1536x864.webp